{#
/**
 * @file
 * Adds a "container-inline" wrapper for partial date components element.
 *
 * Available variables:
 * - element: built by CheckboxWithOptionsElement.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    <b>{{ element.master }}</b>
    <div style="margin-left:25px">
        {{ element.details }}
    </div>
</div>
