
//
// @file
// Variables
//



// Layout selectors
//
// Define "Page" CSS selectors.
//
$pages: '.page';
// Define "Region" CSS selectors.
//
$regions: '.region';
// Define "Layout" CSS selectors.
//
$layouts: '.layout';
// Define "Views" CSS selectors.
//
$views: '.view';
// Define "Block" CSS selectors.
//
$blocks: '.block';
// Define "Node" CSS selectors.
//
$nodes: '.node';
// Define "Field" CSS selectors.
//
$fields: '.field';